<div class="dashboard-balance">
  {{address.total_balance_btc}}  
  &nbsp;฿
</div>
<div class="dashboard-address">
  {{address.id}}
  <span class="qrcode-icon" {{action 'showQRCode'}}></span>
</div>
<div class="dashboard-send-form">
{{send-form submit="sendBTC" submitTitle="→"}}
</div>

{{#if model.length}}
  <div class="dashboard-transactions">
    Transactions ({{model.length}}):
    <ul class="dashboard-transactions-list">
      {{#each tx in model}}
        <li {{bind-attr class="tx.isOutbound:outbound:inbound"}}>
          {{#if tx.isOutbound}}
            Sent
          {{else}}
            Recieved
          {{/if}}
          <span class="transaction-value">{{tx.value_btc}}</span>
          &nbsp;฿ in tracsaction
          <a {{bind-attr href="tx.blockchainLink"}} target="_blank" class="transaction-hash">{{tx.shortHash}}</a>
          <span class="tarnsaction-confirmations">{{tx.confirmations}} confirmations</span>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <p class="dashboard-no-transactions">This wallet has no transaction history.</p>
{{/if}}
