Your bitcoin address is {{address.id}}
<br>
Your balance is {{address.total_balance}} btc.

Send bitcoins:
{{send-form submit="sendBTC" submitTitle="Send"}}

Transactions ({{model.length}}):
{{log model}}
<ul>
{{#each tx in model}}
<li {{bind-attr class="tx.isOutbound:outbound:inbound"}}>{{tx.id}} ({{tx.confirmations}}) - {{tx.value}}</li>
{{/each}}
</ul>

{{outlet}}
