<div class="dashboard-balance">
  {{address.total_balance_btc}}  
  &nbsp;฿
</div>
<div class="dashboard-address">
  {{address.id}}  
</div>

Send bitcoins:
{{send-form submit="sendBTC" submitTitle="Send"}}

Transactions ({{model.length}}):
{{log model}}
<ul>
{{#each tx in model}}
<li {{bind-attr class="tx.isOutbound:outbound:inbound"}}>{{tx.id}} ({{tx.confirmations}}) - {{tx.value}}</li>
{{/each}}
</ul>

{{outlet}}
